html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Comfortaa";
    color: white;
    overflow-x: hidden;
    background-color: #141518;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #32373c;
}

::-webkit-scrollbar-track {
    background-color: #141518;
}
