html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Comfortaa";
    color: white;
    overflow-x: hidden;
    background-color: #141518;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #32373c;
}

::-webkit-scrollbar-track {
    background-color: #141518;
}

.title {
    padding: 50px 0;
    animation-name: slideintop;
    animation-duration: 1s;
}

.title img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mainbody {
    box-sizing: border-box;
}

.mainbody a {
    color: #6f80e6;
    text-decoration: none;
}

.mainbody a:visited {
    color: #6f80e6;
}

.mainbody a:hover {
    color: #9ca6dd;
}

.navcontainer {
    width: 100%;
    background-color: #141518;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

.navbar {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

.navbar li {
    display: inline-block;
    padding: 16px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 8px;
}

.navbar a:visited {
    color: white;
}

.navbar a:hover {
    color: white;
    background-color: #32373c;
}

.navtext {
    padding: 16px 16px;
    margin: 0;
}

.navtext a {
    display: block;
    text-align: center;
}

#active {
    background-color: #32373c;
}

#openbutton {
    color: #6f80e6;
    cursor: pointer;
    display: none;
    font-size: 32px;
    margin-right: 12px;
    transition: 0.3s;
    float: left;
}

#openbutton:hover {
    color: #9ca6dd;
}

.navmenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #32373c;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: inline-block;
}

.navmenu a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-size: 32px;
    text-align: center;
}

.navmenu h2 {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-size: 3em;
    text-align: center;
}

.navmenu a:hover {
    color: lightgray;
}

.navmenu .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 64px;
    padding: 0 26px;
}

.main {
    padding: 0 20px;
    margin: 20px;
    margin-left: 0;
    animation-name: slideinright;
    animation-duration: 1s;
    box-sizing: border-box;
    text-align: center;
}

.main a {
    transition: 0.3s;
}

.aboutpics {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-rows: 1fr 1fr;
}

.abouttext {
    justify-self: center;
}

#portrait1 {
    max-width: 200px;
    margin: 5px;
    justify-self: center;
    border-radius: 8px;
    transition: 0.3s;
}

#portrait1:hover {
    box-shadow: 0 0 8px 0 #cacaca;
}

#portrait2 {
    max-width: 200px;
    margin: 5px;
    justify-self: center;
    border-radius: 8px;
    transition: 0.3s;
}

#portrait2:hover {
    box-shadow: 0 0 8px 0 #cacaca;
}

.sitemap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    line-height: 40px;
    animation-name: slideinright;
    animation-duration: 1s;
}

.sitemap a {
    color: #6f80e6;
    text-decoration: none;
    transition: 0.3s;
}

.sitemap a:visited {
    color: #6f80e6;
}

.sitemap a:hover {
    color: #9ca6dd;
}

.sitemap ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.listone {
    text-align: right;
}

.listone a {
    margin-right: 20px;
}

.listtwo {
    text-align: left;
}

.listtwo a {
    margin-left: 20px;
}

.footer {
    text-align: center;
    clear: both;
    position: relative;
    bottom: 0;
    width: 100%;
    animation-name: slideinright;
    animation-duration: 1s;
}

@media (orientation: portrait) and (max-width: 500px) {
    body {
        font-size: 16px;
    }

    .title {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .title h1 {
        font-size: 32px;
    }

    .mainbody {
        display: block;
    }

    .navbar li {
        padding: 8px 0;
    }

    .navtext {
        padding: 8px 8px;
    }

    #openbutton {
        display: block;
    }

    .main {
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
    }

    .aboutpics {
        grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
    }

    #portrait1 {
        max-width: 100px;
    }

    #portrait2 {
        max-width: 100px;
    }

    .sitemap {
        line-height: 28px;
    }
}

@keyframes slideinleft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideintop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideinright {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}